@tailwind base;
@tailwind components;
@tailwind utilities;

.available-dot {
  position: relative;
}

.available-dot::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: #74ff8b68;
  transform: translate(-50%, -50%);
  animation: myAnim 2000ms ease 0s infinite normal forwards;

}


@keyframes myAnim {
  0% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.2);
  }

  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
}