@tailwind base;
@tailwind components;
@tailwind utilities;

.available-dot {
  position: relative;
}

.available-dot::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: #74ff8b68;
  transform: translate(-50%, -50%);
  animation: myAnim 2000ms ease 0s infinite normal forwards;

}

.project-tag {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
  padding: 4px 15px;
  font-weight: 400;
  line-height: 150%;
}

.project-card img,
.project-card .img-part {
  transition: all .3s ease-in-out;
}

.project-card:hover .img-part {
  padding: 3px 3px 0px 3px;
}

.custom-prev,
.custom-next {
  background-color: #fff;
  color: #222;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #333;
}

.swiper-button-next {
  background-image: url('../public/assets/bx-right-arrow-alt.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 0.5;
}

.swiper-button-prev {
  background-image: url('../public/assets/bx-left-arrow-alt.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  opacity: 0.5;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.cta p {
  display: flex;
  align-items: center;
}

@keyframes myAnim {
  0% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.2);
  }

  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
}